<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>About</title>
  </head>
  <body>
    <%- include('partials/navbar', {page: '/about'}) %>

    <div class="container mx-auto my-5">
      <div class="hero min-h-screen bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">About</h1>
            <p class="py-6">Details about the Developer</p>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 grid-rows-1 gap-10 my-10">
        <div class="avatar col-span-1 justify-self-end">
          <div class="w-44 rounded">
            <img
              src="https://media.licdn.com/dms/image/D5603AQHlazxOODJQFw/profile-displayphoto-shrink_800_800/0/1683274103729?e=2147483647&v=beta&t=PxxdpgVJQ0s-Wpc1Pln91ze0aivzTkLLreUvnez7bbg"
            />
          </div>
        </div>
        <div class="col-span-1">
          <h1 class="text-2xl font-bold">Hello, World!</h1>
          <p>
            My name is Martin Mathew Roy, I am a Computer Programming
            studying at Seneca! <br />
          </p>
          <ul class="list-disc">
            <li>C++</li>
            <li>C+</li>
            <li>Python</li>
            <li>Full Stack Development</li>
            <li>System Design</li>
            <li>mySQL</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
